
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	border-collapse: collapse;
	border: 1px solid #000000;
	margin: 20px;
}

thead 
{
	background-color: #FFFF00;
}

th, td 
{
	border: 1px solid #000000;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}
#p1
{
	font-weight: bold;
	text-align: right;
	background-color: #FFFF00
}
#cp
{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

#cap{
	font-weight:bold;
}

#div {
	border: 1px solid #000000;
	position: fixed;
}



tbody tr:nth-child(even) td
{
	background-color: #FFFF00;
}
class
{
	text-align: right;
}